<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/mdb.min.css}">
</head>
<body>
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card" style="width: 22rem;">
        <h3 class="p-3 text-center">Login</h3>
        <div class="card-body">
            <form action="/auth/login" method="POST" class="form-group">
                <div th:if="${errorMessage != null}" class="alert alert-danger" role="alert">
                    <span th:text="${errorMessage}"></span>
                </div>
                <div class="form-outline mb-4">
                    <input type="text" id="username" name="username" class="form-control" required />
                    <label class="form-label" for="username">Username:</label>
                </div>
                <div class="form-outline mb-4">
                    <input type="password" id="password" name="password" class="form-control" required/>
                    <label class="form-label" for="password">Password:</label>
                </div>
                <button type="submit" class="btn btn-primary btn-block mb-4">Login</button>
            </form>
        </div>
    </div>
</div>
</body>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/mdb.min.js}"></script>
</html>
